﻿@model PGM_online.Models.Supervisor


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddSupervisorConfirmation</title>
</head>
<body>
    <div>

        @Model.Name has been added to the current list of Supervisors and is @Model.Level <br />

        <a asp-action="AllSupervisors"> View all supervisors</a>


    </div>
</body>
</html>
