﻿@model IEnumerable<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllSupervisors</title>
</head>
<body>

    <ul>
        @foreach (string word in Model)
        {
            <li>
                @word
            </li>
        }
    </ul>

</body>
</html>
