﻿@model PGM_online.Models.Supervisor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Style.css" />

    <meta name="viewport" content="width=device-width" />
    <title>MyFirstView</title>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Task 24 - Experis Academy</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </nav>

    <main role="main" class="container">
        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">This page is a part of tasks at Experis Academy.<br> Please fill in the form below to add a supervisor.</p>
        </div>
        <form asp-action="SupervisorInfo" method="post" class="form-group">
            <div asp-validation-summary="All"></div>

            <div class="container">
                <p>
                    <div id="supervisorId">
                        <label asp-for="Id">Supervisor Id:</label>
                        <input asp-for="Id" />
                    </div>
                </p>

                <p>
                    <div id="supervisorName">
                        <label asp-for="Name">Supervisor Name:</label>
                        <input asp-for="Name" />
                    </div>
                </p>

                <p>
                    <div id="supervisorAvailability">
                        <label asp-for="isAvailable">Supervisor Availability:</label>
                        <select asp-for="isAvailable">
                            <option value="null">Select</option>
                            <option value="true">Available</option>
                            <option value="false">Not Available</option>
                        </select>
                    </div>
                </p>

                <p>
                    <div id="supervisorLevel">
                        <label asp-for="Level">Supervisor Level:</label>
                        <input asp-for="Level" />
                    </div>
                </p>
            </div>

            <button type="submit" class="btn-primary">Add supervisor</button>
        </form>



    </main>
    <div class="d-flex justify-content-center">
        @* Display the link to another page (supervisor-page*@
        <a asp-action="AllSupervisors">
            Click here to see the info on supervisors. <br />
        </a>

        <a asp-action="SupervisorList">
            Click here to see the supervisors who starts with "s" <br />
        </a>


    </div>
</body>
</html>
