﻿
@model  PGM_online.Models.Supervisor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>

<body>
    <div>

        @* Just a simple foreach-loop to display all the names of the supervisors  *@
        We have several supervisors:
        <br />

        @*@foreach (Supervisor supervisor in Model)
                {

                    @supervisor.Name;
                    @supervisor.isAvailable.ToString();
                    @supervisor.Level;

                    <br />

                }
            *@
        @Model.Name

            </div>
        </body>
        </html>
