﻿@model IEnumerable<Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorList</title>
</head>
<body>
    

    List showing the names who start with "s" with lambda

    <ul>
        @foreach (Supervisor supervisor in Model)
        {
            <li>
                @supervisor.Name
            </li>
        }
    </ul>

</body>
</html>
